* {
    margin: 0;
    padding: 5px;
  }

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: aliceblue;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: rgb(113, 64, 78);
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    list-style: none;
    gap: 10px;
    margin-bottom: 175px;
}

li {
    border: 9px solid rgb(76, 33, 33);
    border-radius: 5px;
    font-size: 40px;
    padding: 15px;
    background-color:chocolate;
    width: 50vw;
}

a {
    text-decoration: none;
    color:bisque;
}

li:hover{
    background-color: rgb(127, 77, 17);
}

div {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}