body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: aliceblue;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: rgb(113, 64, 78);
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    list-style: none;
    gap: 10px;
}

li {
    border: 9px solid rgb(76, 33, 33);
    border-radius: 5px;
    font-size: 40px;
    padding: 5px;
    background-color:chocolate;
}

a {
    text-decoration: none;
    color:bisque;
}