body {
    background-color: navajowhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    color: black;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: sienna;
}

div {
    display: flex;
    justify-content: center;
}

img {
    width: 350px;
    height: auto;
    border: 2px solid goldenrod;
    border-radius: 5px;
}

.description-heading {
    text-align: center;
    font-size: 25px;
}

.description {
    text-align: center;
    font-style: normal;
    font-size: 16px;
}